<a href="https://colab.research.google.com/github/naenumtou/statisticalModel/blob/main/one_hot_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#One-Hot encoding
data = {'Students': ['A', 'B', 'C', 'D'], 'Candy': ['R', 'G', 'B', 'R']}
df = pd.DataFrame(data)
dummies = pd.get_dummies(df['Candy'])
df_onehot = pd.concat([df, dummies], axis = 1)
df_onehot

  Students Candy  B  G  R
0        A     R  0  0  1
1        B     G  0  1  0
2        C     B  1  0  0
3        D     R  0  0  1

In [ ]:
#Dummy Variable Encoding
dummies = pd.get_dummies(df['Candy'], drop_first = True)
df_var = pd.concat([df, dummies], axis = 1)
df_var

  Students Candy  G  R
0        A     R  0  1
1        B     G  1  0
2        C     B  0  0
3        D     R  0  1

In [ ]:
import numpy as np
from sklearn.preprocessing import OneHotEncoder

#One-Hot encoding
encoding = OneHotEncoder()
encoding.fit(np.array(df['Candy']).reshape(-1, 1))
dummies = encoding.transform(np.array(df['Candy']).reshape(-1, 1)).toarray()
df_onehot2 = pd.DataFrame(np.column_stack([df, dummies]), columns = [i for i in df_onehot.columns])
df_onehot2

  Students Candy  B  G  R
0        A     R  0  0  1
1        B     G  0  1  0
2        C     B  1  0  0
3        D     R  0  0  1

In [ ]:
#Dummy Variable Encoding
encoding = OneHotEncoder(drop = 'first')
encoding.fit(np.array(df['Candy']).reshape(-1, 1))
dummies = encoding.transform(np.array(df['Candy']).reshape(-1, 1)).toarray()
df_var2 = pd.DataFrame(np.column_stack([df, dummies]), columns = [i for i in df_var.columns])
df_var2

  Students Candy  G  R
0        A     R  0  1
1        B     G  1  0
2        C     B  0  0
3        D     R  0  1

In [ ]:
#New dataframe
new = {'Students': ['E', 'F', 'G', 'H'], 'Candy': ['R', 'R', 'G', 'G']}
df_new = pd.DataFrame(new)

#Using encoder
encoding.transform(np.array(df_new['Candy']).reshape(-1, 1)).toarray()

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [ ]:
#Using pandas
dummies = pd.get_dummies(df_new['Candy'])
df_onehot = pd.concat([df_new, dummies], axis = 1)
df_onehot

  Students Candy  G  R
0        E     R  0  1
1        F     R  0  1
2        G     G  1  0
3        H     G  1  0